* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}

body {
    background-color: #1b2838;
}

/* USER NAVBAR */

.user_navbar_container {
    width: 100%;
    height: 40px;
    background-color: #171d25;
    padding: 5px;
    position:sticky;
    z-index: 1;
    top: 0px;
}

nav {
    position: relative;

}

#User_Navbar_rightside {
    padding-left: 1125px;
}

.user_navbar_itens {
    position: absolute;
    left: 0;
    height: 40px;
    line-height: 40px;
    margin: 0;
    display: inline-block;
}

.user_navbar_itens li {

    display: inline-block;
    margin-left: 15px;
    font-size: 12px;

}

#symbol2 {
    font-size: 14px;
    font-weight: 900;
}

.user_navbar_itens a {
    color: #8b929a;
    text-decoration: none;
    transition: 0.1s;
}

.user_navbar_itens a:hover {
    color: #dcdedf;
}

/* STORE NAVBAR */

.menu_navbar_container {
    width: 100%;
    height: 30px;
    background-color: #171d25;
    padding: 5px;
    position:sticky;
    z-index: 1;
    top: 40px;

}

.menu_navbar_itens {
    position: absolute;
    left: 0;
    height: 30px;
    line-height: 20px;
    margin: 0;
    display: inline-block;
}

.menu_navbar_itens li {
    display: inline-block;
    margin-left: 15px;
    font-size: 18px;

}

#symbol {
    color: #8b929a;
    font-size: 25px;
    font-weight: 900;
    transition: 0.1s;
}

#symbol:hover {
    color: #dcdedf;
}

.menu_navbar_itens a {
    color: #dcdedf;
    text-decoration: none;
    font-weight: 600;
    transition: 0.1s;
}

.menu_navbar_itens a:hover {
    color: #dcdedf;
}

/* SEARCH BAR */

.search_bar_container {
    width: 100%;
    height: 25px;
    background-color: #171d25;
    padding: 5px;
    position:sticky;
    z-index: 1;
    top: 70px;

}

.search_bar_itens {
    position: absolute;
    left: 0;
    height: 25px;
    line-height: 10px;
    margin: 0;
    display: inline-block;

}

.search_bar_itens li {
    display: inline-block;
    margin-left: 20px;
    font-size: 12px;
}

#symbol3 {
    font-size: 15px;
    font-weight: 900;
}

.search_bar_itens a {
    font-family: Arial, Helvetica, sans-serif;
    color: #8b929a;
    text-decoration: none;
}

.search_bar_itens a:hover {
    color: #dcdedf;
}

/* STORE MENU */
.wishlist_buttom {
    position: absolute;
    display: inline-block;
    right: 432px;
    top: 110px;
}

.wishlist_buttom a {
    text-decoration: none;

}

.wishlist_buttom h2 {
    background-color: #769ea8;
    height: 18px;
    width: 200%;
    line-height: 18px;
    color: #dcdedf;
    font-size: 10px;
    text-align: center;
}

.store_menu_bar_container {
    display: inline-block;
    width: 60%;
    background: linear-gradient(to left, #1b397e, #3a6592);
    margin: 2% 20%;
    height: 30px;
}

.store_menu_bar_itens {
    position: absolute;
    height: 25px;
    line-height: 30px;
    display: inline-block;
}

.store_menu_bar_itens a {
    color: #dcdedf;
    text-decoration: none;
}

.store_menu_bar_itens li {

    font-weight: 800;
    display: inline-block;
    margin-left: 0px;
    margin-right: 15px;
    font-size: 12px;

}

.store_menu_bar_itens img.iconimg {
    height: 18px;
}

.store_menu_bar_itens img.searchimg {
    height: 28px;
}

.store_menu_bar_itens li.icon {
    position: relative;
    top: 5px;
    left: 10px;
}

.store_menu_bar_itens li.search {
    position: absolute;
    top: 1px;
    left: 930px;
}

/* MiddleBody */
/* QuestionsIntro */
.Questions_Container img {
    max-width: 100%;
}
.Questions_Container {
    padding: 1rem 0;
}
.Questions_Container ul {
    margin: 0 auto;
    display: flex;
    width: 60%;
}

.DBD_Questions li {
    margin-right: 30px;
    margin-left: -42px;

}

.DRG_Questions li {
    margin-right: 30px;
    margin-left: -42px;
}

.TK8_Questions li {
    margin-right: 30px;
    margin-left: -42px;
}
.RE2_Questions li {
    margin-right: 30px;
    margin-left: -42px;
}

.QHeader_Itens li {
    flex: 1 1 200px;
    text-align: center;
    padding: 10px;
    list-style: none;
    font-size: 12px;
    color: rgb(255, 205, 226);
    font-weight: 600;   
}
/* Questions2 */
.Questions2_Container img {
    max-width:  100%;
}

.Questions2_Container { 
    padding: 1rem 0;
}
.Questions2_Container ul {
    margin: 0 auto;
    display: flex;
    width: 60%;
}

.Q2Header_Itens li {
    flex: 1 1 200px;
    list-style: none;
    padding: 10px;
}

.Q2_Organizer {
    display: inline-block;
    margin: 0 4px 2px 0;

}
.Q2_Container {
  margin: -1.5% 20%;
  width: 60%;
  padding-bottom: 25px;
}
.Q2_Container ul {
    margin: 10px 15px;
}
.Q2_Container li {
    font-size: 12px;
    margin: 0px 10px;
   list-style: none;
   color:#dcdedf;
}
/* Q3 */
.Questions3_Container img {
    max-width:  100%;
}

.Questions3_Container { 
    padding: 1rem 0;
}
.Questions3_Container ul {
    margin: 0 auto;
    display: flex;
    width: 60%;
}

.Q3Header_Itens li {
    flex: 1 1 200px;
    list-style: none;
    padding: 10px;
}
/*Q3_Itens*/

.Q3_Container {
    margin: -1% 20%;
    width: 60%;
    padding-bottom: 25px;
}
.Q3_Organizer {
    margin: 0 40px;
    display: inline-block;
}
.Q3_Organizer label {
    font-size: 14px;
    color: #dcdedf;
}
.Q3_Organizer_itens {
    margin-top: 10px;
    text-align: center;
}
/*Questions 4 */
.Questions4_Container img {
    max-width:  100%;
}

.Questions4_Container { 
    padding: 1rem 0;
}
.Questions4_Container ul {
    margin: 0 auto;
    display: flex;
    width: 60%;
}

.Q4Header_Itens li {
    flex: 1 1 200px;
    list-style: none;
    padding: 10px;
}
/* Q4_Itens */

.PO_Container {
   width: 60%;
   margin: 0 20%;
   padding-bottom: 25px;
}
.PO_Organizer {
    margin: 0 30px;
    display: inline-block;
}
.PO_Organizer label {
    font-size: 14px;
    color: #dcdedf;
}
.PO_Organizer_itens {
    margin-top: 10px;
    text-align: center;

}

textarea {
    font-size: 15px;
    color: #dcdedf;
    width: 200px;
    height: 150px;
    opacity: 80%;
    background-color: #171d25;
    resize: none;
    border: solid 1px #283a50;
    border-radius: 5px;
}

textarea:focus {
    outline: none !important;
}

/* SUBMIT */
.end_buttom_container {
     width: 80%;
     margin: 0 10%;
     text-align: center;
}
.end_buttom {
  background-color: #1b2838;
  color: #dcdedf;
  border: 2px solid #171d25;
  width: 150px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 2s;
  font-weight: 900;
}
.end_buttom:hover {
    background: linear-gradient(to left, #1b397e, #171d25, #1b397e);
    width: 80%;
    border: 2px solid #1b397e;
    color: #2e64e0;
    font-weight: 900;

}
/* Rodapé Steam */
.empty_space {
    opacity: 0%;
    padding-bottom: 200px;
}
footer {
    text-align: center;
    font-weight: 900;
    position: fixed;
    bottom: 0;
    background-color: #171d25;
    width: 100%;
    height: 60px;
    padding: 20px 0;
}


#download {
    text-decoration: underline solid #8b929a;
    text-decoration-thickness: 3px;
}

#footer1 {
    padding-right: 38%;
}

#footer2 {
    padding-right: 38%;
}

.footer_container a {
    color: #8b929a;
    text-decoration: none;
    transition: 0.1s;
}

.footer_container a:hover {
    color: #dcdedf;
}