* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}

body {
    background-color: #1b2838;
}

/* USER NAVBAR */

.user_navbar_container {
    width: 100%;
    height: 40px;
    background-color: #171d25;
    padding: 5px;
    position: sticky;
    z-index: 1;
    top: 0px;
}

nav {
    position: relative;

}

#User_Navbar_rightside {
    padding-left: 1125px;
}   

.user_navbar_itens {
    position: absolute;
    left: 0;
    height: 40px;
    line-height: 40px;
    margin: 0;
    display: inline-block;
}

.user_navbar_itens li {
    
    display: inline-block;
    margin-left: 15px;
    font-size: 12px;

}

#symbol2 {
    font-size: 14px;
    font-weight: 900;
}

.user_navbar_itens a {
    color: #8b929a;
    text-decoration: none;
    transition: 0.1s;
}

.user_navbar_itens a:hover {
    color: #dcdedf;
}

/* STORE NAVBAR */

.menu_navbar_container {
        width: 100%;
        height: 30px;
        background-color: #171d25;
        padding: 5px;
        position: sticky;
        z-index: 2;
        top: 0px;

}

.menu_navbar_itens {
    position: absolute;
    left: 0;
    height: 30px;
    line-height: 20px;
    margin: 0;
    display: inline-block;
}

.menu_navbar_itens li {
    display: inline-block;
    margin-left: 15px;
    font-size: 18px;

}

#symbol {
    color: #8b929a; 
    font-size: 25px;
    font-weight: 900;
    transition: 0.1s;
}

#symbol:hover {
    color: #dcdedf;
}

.menu_navbar_itens a {
    color: #dcdedf;
    text-decoration: none;
    font-weight: 600;
    transition: 0.1s;
}

.menu_navbar_itens a:hover {
    color: #dcdedf;
}

/* SEARCH BAR */

.search_bar_container {
    width: 100%;
        height: 25px;
        background-color: #171d25;
        padding: 5px;
        position: sticky;
        z-index: 2;
        top: 0px;

}

.search_bar_itens {
    position: absolute;
    left: 0;
    height: 25px;
    line-height: 10px;
    margin: 0;
    display: inline-block;

}

.search_bar_itens li {
    display: inline-block;
    margin-left: 20px;
    font-size: 12px;
}
#symbol3 {
    font-size: 15px;
    font-weight: 900;
}
.search_bar_itens a {
    font-family:Arial, Helvetica, sans-serif;
    color:#8b929a;
    text-decoration: none;
}

.search_bar_itens a:hover {
    color:#dcdedf;
}
/* STORE MENU */
.wishlist_buttom {
    position: absolute;
    display: inline-block;
    right: 432px;
    top: 110px;
}

.wishlist_buttom a {
    text-decoration: none;

}
.wishlist_buttom h2 {
    background-color: #769ea8;
    height: 18px;
    width: 200%;
    line-height: 18px;
    color: #dcdedf;
    font-size: 10px;
    text-align: center;
}
.store_menu_bar_container {
    display: inline-block;
    width: 60%;
    background: linear-gradient(to left, #1b397e, #3a6592);
    margin: 2% 20%;
    height: 30px;
}

.store_menu_bar_itens {
    position: absolute;
    height: 25px;
    line-height: 30px;
    display: inline-block;
}

.store_menu_bar_itens a {
    color: #dcdedf;
    text-decoration: none;
}
.store_menu_bar_itens li {
  
    font-weight: 800;
    display: inline-block;
    margin-left: 0px;
    margin-right: 15px;
    font-size: 12px;
    
}

.store_menu_bar_itens img.iconimg {
    height: 18px;
}

.store_menu_bar_itens img.searchimg {
    height: 28px;
}
.store_menu_bar_itens li.icon {
    position: relative;
    top: 5px;
    left: 10px;
}

.store_menu_bar_itens li.search{
    position: absolute;
    top: 1px;
    left: 930px;
}


/* Rodapé Steam */

footer {
    text-align: center;
    font-weight: 900;
    position: fixed;
    bottom: 0;
    background-color: #171d25;
    width: 100%;
    height: 60px;
    padding: 20px 0;
}


.footer_container li {
    display: inline-block;
    margin-left: 40px;
}
#download {
    text-decoration: underline solid #8b929a;
    text-decoration-thickness: 3px;
}
#footer1 {
    padding-right: 38%;
}
#footer2 {
    padding-right: 38%;
}

.footer_container a {
    color: #8b929a;
    text-decoration: none;
    transition: 0.1s;
}

.footer_container a:hover {
    color:#dcdedf;
}